* {
  margin: 0;
}
.app_header {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}
.app {
  background-color: #fafafa;
  height: 100vh;
}
.app_signup {
  display: flex;
  flex-direction: column;
}
.app_headerImage {
  object-fit: contain;
}
.app_posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.app_postsRight {
  margin: 20px;
}
